 * {
  margin: 0;
  padding: 0;
}

 h1 {
  font-size: 3rem;
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 3rem;
  border-bottom: 1px solid gray;
}

 #container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#container > div {
  display: flex;
  height: 100px;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 15px;
}

#container > div > p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

#container > div > p:last-child {
  font-size: 1rem;
}